<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span>image number: </span>
    <span id="ageText">0</span>
    <hr>

    <!-- Image and Text Containers -->
    <div id="imageContainer">
        <img id="displayedImage" src="static/src/01.jpg" alt="Displayed Image" style="width: 50vw; height: auto;">
    </div>

    <div id="textContent">
        <p id="displayedText"></p>
    </div>

    <!-- Next Button -->
    <button id="nextBtn">Next Image</button>

    <script src="static/scripts/main_fetch.js"></script>
</body>
</html>
